<h1>Twstat#dashboard</h1>
<p>Find me in app/views/twstat/dashboard.html.erb</p>

<p>Logged in as <%=h session[:username] %> (<%=h session[:userid] %>)</p>

<p><%= link_to 'Logout', :action => 'logout' %>
