<div class="page-header">
<h1>Twitter Archive Stats - Log in</h1>
</div>

<p><%= link_to image_tag('/assets/sign-in-with-twitter-gray.png'), :action => :login %></p>

<hr>
<footer>
<p><%= link_to 'Help/About', :action => :about %></p>
</footer>

