// Place all the styles related to the twstat controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.error { color: #ff0000; }

fieldset {
    border: 1px solid #bbb;
    padding: 2em;
}

form button.btn {
    margin-top: 1em;
}

form {
    margin: 2em 0 2em 0;
}
